html {
	height: 100%;
}
body {
	background-color: LightSteelBlue;
	padding-left: 8px;
	padding-right: 8px;
	height: 100%;
}
#main {
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: White;
	height: 100%;
	overflow: auto;
}

#main-row, #main-row > div {
	height: 100%;
}

#left-col {
	border-right: 1px solid black;
	height: 100%;
}

#main-col {
	padding: 0px;
	height: 100%;
	overflow: auto;
}

#right-col {
	padding-left: 10px;
	height: 100%;
	border-left: 1px solid lightgray;
}

/*
footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height 
	height: 150px;
	clear:both;
	padding-top:20px;
	color:#fff;
}
*/
